* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none
}

/*NAVEGATION*/

.header {
  background: #A8A9AD;
  height: 150px;
  width: 100vh;
}

/*.tools {
  display: flex;
  height: 50%
}*/

.navigation {
  display: flex;
  justify-content: center;
  border: 2px solid red ;
  
}

.navigation li {
  display: flex;
  font-size: 3rem;
  text-align: center;
  border: 2px solid red ;
  padding: 20px 
}

.navigation a {
  text-transform: uppercase;
  color: #173F91;
  font-weight: bold;
  text-decoration: none;
}

.navigation_links {
  display: flex;
  margin: 30px 50px 50px 50px;
}

.navigation a:hover {
  color: #24BAA1;
}

/*ABOUT*/

.about-title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 80px auto 50px 
}

.about-image {
  display: flex;
  width: 100%;
  height: 500px;
  border: 2px solid red;
}

.image {
  border: 2px solid blue;
  margin: 20px 20px auto;
  box-shadow: 10px 5px 5px black;
}

.about-words {
  margin: 40px 20px auto;
  font-size: 20px;
}
